dataset/

.DS_Store
.idea/
misc/__pycache__/
student/__pycache__/
tools/.DS_Store
tools/objdet_models/.DS_Store
tools/objdet_models/darknet/.DS_Store
tools/objdet_models/darknet/models/__pycache__/
tools/objdet_models/darknet/utils/__pycache__/
tools/objdet_models/resnet/.DS_Store
tools/objdet_models/resnet/models/__pycache__/
tools/objdet_models/resnet/utils/__pycache__/
tools/waymo_reader/simple_waymo_open_dataset_reader/__pycache__/

tools/waymo_reader/simple_waymo_open_dataset_reader.egg-info/PKG-INFO
tools/waymo_reader/simple_waymo_open_dataset_reader.egg-info/SOURCES.txt
tools/waymo_reader/dist/simple_waymo_open_dataset_reader-0.0.0-py3.7.egg
tools/objdet_models/darknet/pretrained/
tools/objdet_models/resnet/pretrained/

results/
